/* City Lights CSS Theme */

:root {
	--primary-color: #00bfff;
	--primary-color-hover: #ffa500;
	--secondary-color: #1d1c1c;
	--text-color: #f8f8f2;
	--heading-color: #ffa500;
	--table-secondary-color: #2a2a2a77;
	--border-color: #00bfff66;
}
