/* Cobalt Next CSS Theme */

:root {
	--primary-color: #61afef;
	--primary-color-hover: #c678dd;
	--secondary-color: #1e1f29;
	--text-color: #c5c8c6;
	--heading-color: #c678dd;
	--table-secondary-color: #3b3f4b66;
	--border-color: #61afef55;
}
