/*
* @Author: lnorb.com
* @Date:   2023-01-27 05:15:57
* @Last Modified by:   lnorb.com
* @Last Modified time: 2023-01-27 08:20:38
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', monospace !important;
}

.card,
.popover-body,
.popover-header {
	border-radius: 0px !important;
}

/* Forms */
.form-control {
	border-radius: 0px !important;
}

.note-content:hover {
	cursor: pointer;
}
