:root {
	--primary-color: white;
	--primary-color-hover: #ee517d;
	--secondary-color: #15212a;
	--text-color: white;
	--heading-color: #ee517d;
	--table-secondary-color: #25313a;
	--border-color: #38444d;
}
