/* Monokai Dark CSS Theme for Sveltestrap */

:root {
	--primary-color: #17a2b8;
	--primary-color-hover: #dc3545;
	--secondary-color: #1a1a1a;
	--text-color: #f8f9fa;
	--heading-color: #dc3545;
	--table-secondary-color: #343a40;
	--border-color: #17a2b8;
}
