/* Pitch Black CSS Theme */

/* Define color variables */
:root {
	--primary-color: #00ffff;
	--primary-color-hover: #ff00ff;
	--secondary-color: #000000;
	--text-color: #ffffff;
	--heading-color: #ff00ff;
	--table-secondary-color: #33333344;
	--border-color: #00ffff66;
}
