/* Ariake Dark CSS Theme for Sveltestrap */

/* Define color variables */
:root {
	--primary-color: #5e81ac;
	--primary-color-hover: #8f6b6b;
	--secondary-color: #212327;
	--text-color: #d1d1d1;
	--heading-color: #8f6b6b;
	--table-secondary-color: #373b41;
	--border-color: #5e81ac44;
	--border-color-light: #5e81ac11;
}
